
/* Loading Page */


.loadImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/loading.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .loadText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .center{

    position:relative;
    top:50%; 
    left:40%;
  }
  
  .loadBtn {
    background-color: #0077B5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.65;
  }

  body {
    margin-top: 400px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .banner {
    background-image: url("images/village2.jpg");
    background-size:  cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }
.knightBanner {
    background-image: url("images/knight.jpg");
    background-size:  cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }

.mageBanner {
    background-image: url("images/mage.jpg");
    background-size:  cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }

  .handInBanner {
    background-image: url("images/handin.jpg");
    background-size:  cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }

.dragonBanner {
    background-image: url("images/dragon.jpg");
    background-size:  cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }

  .gryphonFightBanner {
    background-image: url("images/gryphon.jpg");
    background-size:  cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }

.gryphonSleepBanner {
    background-image: url("images/gryphonNest.jpg");
    background-size:  cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }

.gryphonFlyingBanner {
    background-image: url("images/gryphonFlying.jpg");
    background-size:  cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }

  /* Get rid of underline */
a {
    text-decoration: none;
    }

a:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);     
}

/* Button styles */

.left{
    width:50%;
    float:left;
  }
 
  .right{
    margin-left: 50%;
  }

.buttonGreen {
    background-color: #4CAF50;
}
.buttonBlue {
    background-color: #008CBA;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
  
/
  .actionButtons button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }

  
  /* Add a background color on hover */
  .actionButtons button:hover {
    background-color: #3e8e41;
  }
